@import url('./josh.reset.css');
@import url('./user.style.css');

@font-face {
  font-family: Manrope;
  src: url('/assets/fonts/Manrope-VariableFont_wght.ttf');
  font-display: swap;
}

:root {
  font-family: Manrope, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

footer {
  padding: 1rem;
  text-align: center;

  a {
    color: lch(56.82% 50.32 279.53);
  }
}

.heart {
  display: inline-block;
  color: lch(70% 50.32 25.1);
  animation: pulse 1s infinite ease;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.9);
  }
}